*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    display: grid;
    font-family: 'Kanit', sans-serif;
    grid-template-areas: 
    'header'
    'content'
    'footer'
    ;
}

div {
    display: flex;
}
#header{
    grid-area: "header";
    background-color: #73c9eb;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#content{
    grid-area: "content";
    background-color: #ffffff;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

#footer{
    grid-area: "footer";
    background-color: #73c9eb;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.amarelo{
    color: #f3e95d ;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    
}

/*.amarelo:hover{
    color:white;
    background-color:#73c9eb ;
    transition:0.7s;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width:10%;
}*/

#barra{
    background-image: linear-gradient(to right,#73c9eb,#cb75e0);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#empresa{
    grid-area: "empresa";
    margin: 15px;
}

#produtos{
    grid-area: "cupons";
    margin: 15px;
}

#contato{
    grid-area: "contato";
    margin: 15px;
}

#cadastro{
    grid-area: "carrinho";
    margin: 15px;
    padding-right: 20px;
}

#logo{
    grid-area: "logo";
    width: 350px;
    height: 330px;
    padding-top: 25px;
}

.cortexto2{
    color: #445E8C;
}

#texto1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

#texto2{
    font-size: 30px;
    margin: 15px;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
}

#conteudopt1{
    background-color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteudopt2{
    background-color:white;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#conteudopt2 img{
    width: 400px;
    height: 400px;
}

#produtos{
    font-family: 'Secular One', sans-serif;
}

#textodorodape{
    background-color: #73c9eb;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoproduto{
    background-color:#73c9eb;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quadrado{
    background-color: #cb75e0;
    width: 230px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#texto3{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
}

#areacontato{
    width: 1500px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#areacontato h3{
    font-size: 15px;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#areacontato h3:hover{
    font-size: 18px;
}

#pt1{
    display: flex;
    flex-direction: column;
}

#pt2{
    display: flex;
    flex-direction: column;
}

#pt3{
    display: flex;
    flex-direction: column;
}

#logo-redes{
    width: 1500px;
    height: 80px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#logo-redes img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#logo-redes img:hover{
    transform: translateY(-5px);
}




/* PAGINA DE PRODUTOS  */

h1,h2,h3,h4,h5,h6, p { /*cor das letras*/
	color: #445e8c;
    text-align: center;
}

.bloco{
    background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	min-height: 450px;
	min-width: 400px;
    max-width: 30%;
	padding: 10px;
	border-radius: 8px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.brinque {/*div*/
 display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 50px;
    justify-items: center;
    align-items: center;
}

.brinque img {/*imagens dos produtos*/
	max-width: 50%;
	height: auto;
    border:5px solid #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
}

#b{/*aluguel em meses e preço*/
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:8px;
}

#b h4{
    margin:8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
    padding: 12px;
}

 .botao {/*alugar agora*/
	background-color: #445e8c;
	border: none;
	padding: 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
    border-radius: 5px;
    margin: 6px;
}
.branco{
    color: #ffffff ;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    
    margin-top: 10px;
    margin-left: 37px;
}
.botao:hover{
    transition:0.7s;
	box-shadow:1px 1px 40px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
} 

/*cupom*/
#content2{
    grid-area: "content";
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

#cupom{

	background: linear-gradient(to bottom, #ffffff, #c3c3ff);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto4{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    text-align:center;

}

/*PRODUTOS DETALHE*/

.blocod{
    background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	min-height: 80%;
	min-width: 50%;
    max-width: 60%;
	border-radius: 8px;
	gap: 20px;
	padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align:center;

}
.brinque2 {/*div*/
    display: grid;
       gap: 20px;
       padding: 50px;
       justify-items: center;
       align-items: center;
   }
.brinque2 img {/*imagens dos produtos*/
	max-width: 50%;
	height: auto;
    border:5px solid #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
}
.bd{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bd h4{
    margin:8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
    padding: 12px;
}
#bd h4:hover{
    transition:0.7s;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
} 
.h21, .p1{
margin-left: 50px;
    display: flex;
    text-align: left;
    margin-right: 50px;
}
/*    rodape          */
#rodape{
	font-size:9px;
	background-color:white;
	text-align:center;
	height:30px;
	border-top: 1px solid #c3c3ff;
	bottom:0;
	margin-top:30px;
	width:100%;
	position:fixed;
}
/* parte do cadastro */

#img-cad{
    width: 350px;
    height: 350px;
    margin-top:40px;
}

label{
    width: 200px;
    height: 200px;
}
/* parte do formulário */
form{
    width: 450px;
    height: 430px;
    margin-top:240px;
    margin-bottom:70px;
}
input{
    width:280px;
    height:25px;
}
#labels{
    font-size:23px;
    font-family: 'Oswald', sans-serif;   
    color: #445E8C;
}
button{
    width:200px;
    height:30px;
    margin-top:25px;
    margin-left:40px;
    background-color:green;
    color:white;
    font-style:oblique;
}
h4{
    text-align:center;
    margin-left:580px;
    font-size:20px;
}

/*parte do carrrinho*/

    #card-carrinho{
        background-color: white;
        width: 80vw;
        height: 50vh;
        margin-top: 40px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #content-carrinho{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #card-carrinho img{
        width: 300px;
        height: 300px;
        margin-left: 20px;

    }
    #partedotexto{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    #partedobotao{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
    }
    
    .botao{
        width: 200px;
        height: 50px;
        color: white;
        transition: 0.3s ease-in-out;
    }

    #botao1{
        background-color: red;
    }

    #botao2{
        background-color: green;
    }

    .botao:hover{
        transform: translateY(-5px);
    }
